

#main{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--black);
    width: 100%;
}


#main > div{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 0px;
    height: 90px;
    position: sticky;
    top: 0px;
    background-color:var(--black);
    z-index: 99;
}

#main > div form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main > div form div{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#main > div form  button{
    height: 100%;
    position: absolute;
    right: 5px;
    font-size: 14pt;
    background-color: transparent;
    color: var(--white);
}
#main > section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
    gap: 100px;
    padding:20px;

}

#main > section figure{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 600px;
    cursor: pointer;
    transition: all .5s linear;
}

#main > section figure * {
    word-wrap: break-word;
}

#main > section figure > img{
    border-radius: 8px;
    width: 600px;
    height: 600px;
}


#main > section figure > span img , #main > section figure > span p{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#main > section figure > span p{
    background-color: var(--blue);
    color: var(--white);
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
#main > section figure > span{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}
#main > section figure > span div{
    display: flex;
    gap:5px;
}

#main > section figure >div{
    border-radius: 8px;
    width: 600px;
    height: 600px;
    background-color: var(--blue);
    font-size: 18pt;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

#main > section figure article{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

#main > section figure button{
    background-color: transparent;
    color: var(--white);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18pt;
}