#usersProfile{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 40px;

}

#noPost{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 14pt;

}
#usersProfile > span a{
    font-size: 18pt;
    color: var(--white);
}



#usersProfile > span img , #usersProfile > span #profile{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
#usersProfile > span div{
    display: flex;
    gap: 15px;
}

#usersProfile > span #profile{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pink);
    font-size: 14pt;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
}

#usersProfile > span {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--black);
    padding: 4px 0;
}
#usersProfile > span h1{
    font-size: 16pt;
    margin-top: 20px;
}
#usersProfile > span aside{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
}


#usersProfile > span aside div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#usersProfile > span aside div span{
    display: flex;
    align-items: center;
    gap: 8px;
}
#usersProfile > span aside article{
    display: flex;
    justify-content: space-between;
}
#usersProfile > span p{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

#usersProfile > section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 10px;
    overflow: hidden;
}


#usersProfile > section figure{
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
    transition: all .5s linear;
    gap: 20px;
    cursor: pointer;
}

#usersProfile > section figure * {
    word-wrap: break-word;
}

#usersProfile > section figure > img{
    border-radius: 8px;
    width: 300px;
    height: 400px;
}


#usersProfile > section figure > span img , #usersProfile > section figure > span p{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#usersProfile > section figure > span p{
    background-color: var(--blue);
    color: var(--white);
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
#usersProfile > section figure > span{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}
#usersProfile > section figure > span div{
    display: flex;
    gap:5px;
}

#usersProfile > section figure >div{
    border-radius: 8px;
    width: 300px;
    height: 400px;
    background-color: var(--blue);
    font-size: 18pt;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

#usersProfile > section figure article{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

#usersProfile > section figure button{
    background-color: transparent;
    color: var(--white);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18pt;
}



#usersProfile > footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#usersProfile > footer div{
    width: 100px;
    display: flex;
    justify-content: space-around;
}
#usersProfile > footer div button{
    width: 40px;
    font-weight: bold;
    font-size: 15pt;
    background-color: var(--blue);
    color: var(--white);
}
@media screen and (max-width: 1024px) and (min-width : 721px)  {
    
#usersProfile > footer{
    width: 100%;
    padding-bottom: 100px;
}
  #usersProfile > section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    overflow: hidden;
    padding: 40px 0;
    padding-bottom: 60px;
}

#usersProfile > span {
    top: 50px;
    position: static;
    padding-top: 50px;
}

#usersProfile > span img{
    height: 100px;
    width: 100px;
}

 #usersProfile > section figure{
    width: 100%;
 }


#usersProfile > span img{
    height: 100px;
    width: 100px;
}

#usersProfile > section figure > div{
    width: 100%;
}
}

@media screen and (max-width: 720px){

    #usersProfile > footer{
    width: 100%;
    padding-bottom: 100px;
}
#usersProfile > span #profile{
    height: 80px;
    width: 80px;
    margin-top: 10px;
}
#usersProfile > span h1{
    font-size: 14pt;
    margin-top: 10px;
}
#usersProfile > span aside{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
    text-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;
}

#usersProfile > span aside article{
    display: flex;
    justify-content: space-between;
}


#usersProfile > span aside{
    gap: 8px;
    justify-content: start;
}
#usersProfile > span {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;   
    position: static;
    padding-top: 50px;
}
  #usersProfile > section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    padding: 40px 0;
    padding-bottom: 60px;
}
 #usersProfile > section figure{
    width: 90%;
 }

#usersProfile > span {
    top: 50px;
}


#usersProfile > section figure > div{
    width: 100%;
}
}

