#createPost nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#createPost nav button{
    width: 120px;
    background-color: transparent;
    color: var(--green);
    border: solid 1px;
    opacity: 0.2;
}

#createPost form{
    min-height:90%;
}

#createPost form div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
#createPost form div  svg{
    font-size: 16pt;
    position: absolute;
    right: 10px;
    top: 0px;
}

