#app{
  width: 100%;
  display: flex;
  background-color: var(--black);
  color: var(--white);
  position: relative;
}


button{
  border: none;
  cursor: pointer;
  transition: all .3s linear;
  min-height: 40px;
  border-radius: 4px;
}

form input{
    width: 100%;
    height: 45px;
    outline: none;
    font-size: 11pt;
    border: none;
    background-color: rgba(255, 255, 255, 0.115);
    padding-left: 10px;
    border-radius: 5px;
    color: var(--white);
}
input::placeholder{
    color: var(--white);
}
svg{
  
  cursor: pointer;
  transition: all .3s linear;
}
button:active , svg:active{
  scale: 0.5;
}
#app > nav:first-of-type{
  height: 100%;
  display: flex;
  top: 0;
  width:20%;
  padding: 10px ;
  padding-top: 0;
  position: sticky;
}
#app > nav:first-of-type img{
  height: 100px;
}

#mobilenav{
  display: none;
}
#app > nav:first-of-type ol{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  width: 90%;
}
#app > nav:first-of-type ol a{
  display: flex;
  background-color: #ffffff0e;
  backdrop-filter: blur(10px);
  height: 80px;
  width: 100%;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  opacity: 0.4;
  transition: all .3s linear;
}


#app > nav:first-of-type ol a:hover{
  opacity: 1;
  color: var(--white);
  transform: translateX(3px);
}

#app > nav:first-of-type ol a:active{
  scale: 0.7;
}
#app > nav:first-of-type  a{
  text-decoration: none;
  color: var(--white);
  font-size: 14pt;
}


#app > nav:first-of-type {
  
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#app > nav:first-of-type button{
  width: 90%;
  height: 50px;
  background-color: var(--green);
  border: none;
  color: var(--white);
  border-radius: 4px;
}

#app > section{
  width: 83%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 30px 10px;
  padding-top: 0;
  padding-right: 30px;
}

#app > section > section {
  width: 100%;
  min-height: 100dvh;
  position: relative;
  
}
#app > svg , #app > b{
  position: fixed;
  right: 40px;
  top: 20px;
  color: var(--green);
  font-size: 14pt;
  z-index: 9999999;
}

#app > svg:last-of-type{
  right: 20px;
}

 #app > b{
  right: 0;
  color: var(--white);
  top: 15px;
 }

#logo{
  display: none;
}




#app form input{
    width: 100%;
    height: 50px;
    outline: none;
    font-size: 11pt;
    border: none;
    background-color: rgba(255, 255, 255, 0.115);
    padding-left: 10px;
    border-radius: 5px;
    color: var(--white);
}
#app form textarea{
    resize: none; width: 100%;
    height: 300px;
    outline: none;
    font-size: 11pt;
    border: none;
    background-color: rgba(255, 255, 255, 0.115);
    padding-left: 10px;
    border-radius: 5px;
    color: var(--white);
    padding: 5px;
}

#app form button{
    background-color: var(--green);
    color: var(--white);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 @media screen and (max-width : 1024px){
  
  #logo{
    display: flex;
    position: fixed;
    top: -4px;
    left: 0;
    z-index: 99999999999;
    background-color: var(--black);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
#logo span{
  width: 100%;
  position: fixed;
  left: 20px;
  color: var(--green);
  font-size: 14pt;
}
  #logo img{
    height: 70px;
    cursor: pointer;
  }
   #app > nav:first-of-type{
    display: none;
   }
    #app > nav:last-of-type{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: var(--black);
    padding: 25px 10px;
    z-index: 9999;
   }

   
   #app > nav:last-of-type a {
    color: var(--green);
    font-size: 15pt;
   }
   #app > nav:last-of-type ol{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
   }
   #app > section{
    width: 100%;
    padding:  10px;
   }
 }