*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  user-select: none;
}

html{

  background-color: var(--black);
}
:root{
  --black : #101010;
  --white :  #ffffff ;
  --pink :  #fc0845;
  --blue : #0084ff;
  --green : #1db49a;
}

::-webkit-scrollbar{
  width:  5px;
}

::-webkit-scrollbar-thumb{
  background-color: var(--green);
  border-radius: 40px;
  width:  5px;
}