#users{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

#users > div form > button {
  background-color: var(--pink);
  color: var(--white);
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13pt;
}

#users > button{
  width: 200px;
  background-color: var(--green);
  color: var(--white);
  display: flex;
  place-self: center;
  align-items: center;
  justify-content: center;
}

#users> div {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px 0px;
  height: 90px;
  position: sticky;
  top: 0px;
  background-color: var(--black);
  z-index: 99;
}

#users> div form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#users> div form div {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#users> div form  div button {
  height: 100%;
  position: absolute;
  right: 5px;
  font-size: 14pt;
  background-color: transparent;
  color: var(--white);
}


#users> article {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 10px 0;
  place-items: center;
}
#users> article figure > span div {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-transform: uppercase;
}

article figure > span div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
}

#users> article figure {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgba(254, 254, 254, 0.107);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
}
#users> article figure > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
#users> article figure > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#users> article figure > aside {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#users> article figure > aside div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#users> article button {
  width: 100%;
  border: none;
  height: 40px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}


@media screen and (max-width : 1024px) and (min-width : 721px) {

  #users> article{
    grid-template-columns: 1fr  1fr;
    padding: 0 20px;
    margin-top: 50px;
    padding-bottom: 40px;
  }

  #users> div {
    top: 75px;
  }
  #users> div form div{
    width: 90%;
  }
}

@media screen and (max-width : 720px) {


  #users > button{
  width: 70%;
}
  #users> article{
    grid-template-columns: 1fr;
    padding: 0 20px;
    margin-top: 50px;
    padding-bottom: 40px;
  }

  #users> div {
    top: 60px;
  }
  #users> div form{
    gap: 10px;
  }
  #users> div form div{
    width:100%;
  }
}

